main{
	margin-bottom: 20px;
	margin: auto;
	width: 80%;
}

#main_block{
	margin: inherit;
	display: flex;
}

#about_content{
	flex: 4;
	display: inline block;
	width: 60%;
	border-right: 2px white solid;
	padding-right: 10px;
}

#contact_info{
	flex: 3;
	padding-left: 10px;
}

#clear{
	clear: left;
}

