main{
	margin-bottom: 		20px;
	margin-left: 		50px;
}

#main_block{
	display: 			flex;
	margin-left: 		20px;
}

#about_content{
	flex: 				6;
	border-right: 		2px white solid;
	padding-right: 		20px;

}
#about_content p{
	margin-left: 		20px; 
}
#contact_info{
	flex: 				3;
	padding-left: 		20px;
}
h1, h2{
	text-shadow:
						-2px -2px 0 #0066dd,
						2px -2px 0 #0066dd,
						-2px 2px 0 #0066dd,
						2px 2px 0 #0066dd;
}
@media screen and (max-width: 790px) {
	main {
		margin-left: 	25px;
	}
	#main_block {
		flex-flow:		column;
	}
	#about_content{
		border: 		none;
		margin-bottom:	10px;
	}
	#about_content p{
		margin-left: 	10px;
	}
	#contact_info {
		border-top: 	2px white solid;
		padding-top		/*what?*/
	}
}