html {
	min-height:			100vh;
	margin:				0;
	overflow-y:			scroll;
}
body {
	background-color: 	#8E8E8E;
	background: 		radial-gradient(circle, #006699, #24292B);
	color: 				#FFFFFF;
	margin: 			0px;
	min-height:			100vh;
	font-family: 		"MS Sans Serif";
}
#banner {
	position: 			absolute;
	background-color: 	#333333;
	width: 				100%;
	height: 			75px;
}
.page {
	position:			relative;
	background-color: 	#444444;
	max-width: 			1000px;
	margin: 			0px auto;
	padding-bottom:		60px;
	min-height:			calc(100vh - 60px);
}
header {
	position: 			relative;
	max-width: 			100%;
	height: 			75px;
	padding: 			0px;
	margin: 			0px;
	z-index:			10;
}
#slogan{
	margin:				0; 
	position:			absolute; 
	left:				200px;
	top:				20px;
}
#logo {
	position:			absolute;
	bottom: 			0px;
}
#login {
	position:			absolute;
	top: 				0px;
	right: 				0px;
}
#login br{
	display:none;
}
#login a {
	display:			inline-block;
	background-color:	#555555;
	color: 				#FFFFFF;
	width: 				100px;
	padding: 			3px 0px;
	text-decoration:	none;
	text-align:			center;
	margin-left: 		2px;
	margin-bottom:		2px;
}
#login a:hover {
	background-color: 	#666666
}
#search {
	position:			absolute;
	right: 				0px;
	bottom: 			0px;
	margin: 			0;
}
#search-field {
	padding:			5px 10px;
	margin: 			0;
}
#search-button {
	height:				26.5px;
	border: 			none;
	background-color: 	#555555;
	color: 				#FFFFFF;
	margin: 			0;
	width: 				100px;
	cursor: 			pointer;
}
#search-button:hover{
	background-color: 	#666666;
}
#mobile_nav {
	display:none;
}
nav ul {
	font-size: 			0;
	margin: 			0;
	padding: 			0;
	background-color: 	#8E8E8E;
	max-width: 			100%
}
nav ul li {
	color: 				#FFFFFF;
	font-size:			medium;
	display: 			inline-block;
	margin-right: 		0.15%;
	text-align:			center;
	position:			relative;
	width:				19.88%
}
nav ul li a {
	font-size: 			1.2em;
	display: 			inline-block;
	color: 				#FFFFFF;
	text-decoration: 	none;
	padding: 			10px 0px;
	width:				100%;
	background-color: 	#0066DD;
}
nav ul li a:hover {
	background-color: 	#0099DD;
}
.dropdown {
	font-size:			medium;
	display:			none;
	position: 			absolute;
	width:				100%;
	left:				0px;
}
.dropdown a {
	display: 			inline-block;
	color: 				#000000;
	background-color:	#EEEEEE;
	text-decoration: 	none;
	text-align: 		center;
	padding: 			8px 0px 8px;
	width: 				100%;
}
nav ul li:hover .dropdown, .dropdown:hover{
	display: 			block;
}
#about {
	margin-right: 		0px;
}
main {

}
footer {
	width: 				100%;
	background-color: 	#222222;
	height: 			60px;
	position:			absolute;
	bottom:				0px;
	display:			flex;
	align-items:		center; /*this selector doesn't look legit, notepad doesn't detect it*/

}
footer p {
	margin: 			0px auto;
	padding: 			10px;
}
#social_media {
	padding-right: 		10px;
	position:			absolute;
	right:				0;
	bottom:14px;
	height:32px;
}
@media screen and (max-width: 960px) {
	#slogan {
		display:none;
	}
}

@media screen and (max-width: 425px) {
	#login br {
		display:inline;
	}
	#search {
		display: none;
	}
	nav ul li > a {
		pointer-events:none;
	}
}