css/index_alt_color.css
css/responsive_alt_color_base.css
scripts.js
standard_long.html
css/index.css.orig
devices/console/ps4.html.orig
devices/console/switch.html.orig
devices/console/xbone.html.orig
devices/handheld/3ds.html.orig
devices/handheld/vita.html.orig
devices/mobile/android.html.orig
devices/mobile/ios.html.orig
devices/pc.html.orig
