main {
	margin: 		0px;
}
h2 {
	text-align: 	center;
	width: 			100%;
	font-size:		2.6em;
}
.sign_up {
	display:		flex;
	align-items:	center;
	flex-flow:		column;
}
.text_boxes label{
	min-width: 		150px;
}
.sign_up label{
	display:		inline-block;
	text-align:		right;
}
.sign_up input{
	margin: 		20px 3px;
}
#date_of_birth_label{
	display:		inline-block;
	min-width:		150px;
}
#date_of_birth {
	width: 			150px;
}
#terms_label {
	text-align:		left;
}
#submit {
	width:			70px;
}
